@import "../../vars.scss";

.songbird-logo {
  width: 150px;
  height: auto;
}

.margined-col {
  margin: 1vh 0px;
}

#basic-header {
  background: $white;
  align-items: center;

  ul.pagination {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    border-radius: 0.35rem;
    overflow: hidden;

    li {
      flex: auto;
      text-align: center;
      span {
        cursor: auto;
        color: $dark-green;
        background-color: $white;
        border: 1px solid $border;

        &:hover {
          color: $white;
          background-color: $dark-green;
          border-color: $border;
        }
      }
      &.active span {
        background-color: $active;
      }
    }
  }
}
