@import "../../vars.scss";

.songbird-logo {
  width: 150px;
  height: auto;
}

.margined-col {
  margin: 0.5vh 0px;
}

#basic-header {
  background: $white;
  background-color: $danger;
  .header-row {
    align-items: center;
  }

  ul.pagination {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    border-radius: 0.35rem;
    overflow: hidden;

    li {
      flex: auto;
      text-align: center;
      span {
        padding: 0.5rem 0.65rem;
        cursor: default;
        color: $dark-blue;
        background-color: $white;
        border: none;
        text-transform: uppercase;
      }
      &.active span {
        background-color: $light-pink;
      }
    }
  }

  .header-score {
    background-color: $dark-blue;
  }
}
