$border: #dee2e6;
$border: #dee2e6;
$white: #fff;
$active: #7cf7fc;
$dark-green: green;
$brand: #6af398;
$checkboxSize: 1.5rem;
$uncheckedBG: black;
$checkedBG: $brand;
$wrongBG: #fa1b1b;
$checkedColor: black;
$disabledBG: #00000059;