$border: #d3d3d3;
$light-grey: #dee2e6;
$white: #fff;
$active: #7cf7fc;
$dark-green: green;
$brand: #6af398;
$checkboxSize: 1.5rem;
$uncheckedBG: #281483;
$checkedBG: $brand;
$wrongBG: #f5365c;
$danger: #f5365c;
$checkedColor: black;
$disabledBG: #00000059;
$dark-blue: #281483;
$light-pink: #d782d9;
